[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-human-dates"]
	path = home/.vim/bundle/vim-human-dates
	url = https://beaugunderson@github.com/beaugunderson/vim-human-dates.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-scss-instead"]
	path = home/.vim/bundle/vim-scss-instead
	url = https://beaugunderson@github.com/beaugunderson/vim-scss-instead.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/vim-javascript-syntax"]
	path = home/.vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
	ignore = dirty
[submodule "home/.vim/bundle/unite"]
	path = home/.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "home/.vim/bundle/vimproc"]
	path = home/.vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "home/.vim/bundle/vim-characterize"]
	path = home/.vim/bundle/vim-characterize
	url = git://github.com/tpope/vim-characterize.git
[submodule "home/.vim/bundle/unite-outline"]
	path = home/.vim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "home/.vim/bundle/YouCompleteMe"]
	path = home/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "home/.vim/bundle/tern_for_vim"]
	path = home/.vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "home/.vim/bundle/python-syntax"]
	path = home/.vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
