[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-human-dates"]
	path = home/.vim/bundle/vim-human-dates
	url = https://beaugunderson@github.com/beaugunderson/vim-human-dates.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-scss-instead"]
	path = home/.vim/bundle/vim-scss-instead
	url = https://beaugunderson@github.com/beaugunderson/vim-scss-instead.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/vim-javascript-syntax"]
	path = home/.vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "home/.vim/bundle/vim-multiple-cursors"]
	path = home/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
