[user]
	name = Beau Gunderson
	email = beau@beaugunderson.com
	username = beaugunderson
[core]
	whitespace = trailing-space,space-before-tab,tab-in-indent,tabwidth=2
	excludesfile = ~/.gitignore
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	showbranch = auto
	status = auto
	ui = auto
[color "branch"]
	current = 214 reverse
	local = 214
	remote = 10
[color "diff"]
	whitespace = 1 reverse
	meta = 15 bold
	frag = 239 bold
	old = 196 bold
	new = 10 bold
[color "status"]
	added = 214
	changed = 10
	untracked = 196
[diff]
	renames = copies
	# wordRegex
[grep]
	lineNumber = true
	extendedRegexp = true
[alias]
	# git reauthor $START..$END
	reauthor = !sh -c 'eval `git log --reverse --topo-order --pretty=format:\"git cherry-pick %H && git commit --amend -C %H --author=\\\"%aN <%aE>\\\" && \" $0 `"echo success"'
	lg = log --graph --decorate --all --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ls = ls-files
	cs = clone -p
	update-submodules = submodule foreach git pull --no-rebase origin master
	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
	wdiff = diff --color-words
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[pull]
	rebase = true
[rebase]
	stat = true
[mergetool "splice"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
[mergetool "vimdiff3"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
	conflictstyle = merge
[rerere]
	enable = 1
[url "git@github.com:"]
	insteadOf = git://github.com/
	pushInsteadOf = git://github.com/
	insteadOf = https://beaugunderson@github.com/
	pushInsteadOf = https://beaugunderson@github.com/
	insteadOf = https://github.com/
	pushInsteadOf = https://github.com/
[url "git@hqgit01.hq.practicefusion.com:"]
	insteadOf = git://hqgit01.hq.practicefusion.com/
	pushInsteadOf = git://hqgit01.hq.practicefusion.com/
	insteadOf = https://beaugunderson@ghqgit01.hq.practicefusion.com/
	pushInsteadOf = https://beaugunderson@hqgit01.hq.practicefusion.com/
	insteadOf = https://hqgit01.hq.practicefusion.com/
	pushInsteadOf = https://hqgit01.hq.practicefusion.com/
[push]
	default = current
[hub]
	host = hqgit01.hq.practicefusion.com
[credential]
	helper = cache
